p {
    color: rgb(0, 0, 0);

}
.container{
    border: solid 2px;
    color: black;
    margin-left: 20rem;
    margin-right: 20rem;
    

}
.submit{
    margin-left: 15%;
    padding: 20px;
    margin-top: -4.35rem;
}
.googleSearch{
    display: flex;
    margin-left: 35%;
    padding: 20px;
}
.googleSearch input{
    padding: 5px;
}
.submit input{
    padding: 5px;
}